<!-- admin-dashboard.component.html -->
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-toolbar>Admin Panel</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="usuarios" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Usuarios</a>
      <a mat-list-item routerLink="solicitudes" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Solicitudes</a>
      <a mat-list-item routerLink="cotizaciones" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Cotizaciones</a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidenav">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Sistema de Cotizaciones - GEREDU</span>
      <span class="spacer"></span>
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon> Cerrar sesión
      </button>
      
    </mat-toolbar>

    <div class="content p-3">
      <router-outlet></router-outlet> <!-- Aquí se cargan los hijos de admin -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

